<br/>
<nav aria-label="breadcrumb" role="navigation">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/admin/">Головна</a></li>
    <li class="breadcrumb-item"><%= link_to 'Особливості', admin_features_path %></li>
    <li class="breadcrumb-item active" aria-current="page">Особливість</li>
  </ol>
</nav>
<br/>
<%= form_for [:admin, @feature], html: { 'data-bvalidator-validate': '' } do |f| %>

    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control', data: {bvalidator: 'required'} %>
    </div>
    <div class="form-group">
      <%= f.label :name_ru %>
      <%= f.text_field :name_ru, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :name_en %>
      <%= f.text_field :name_en, class: 'form-control' %>
    </div>

    <br/>

    <%= f.submit 'Зберегти', class: 'btn btn-primary' %>&nbsp;|&nbsp;<%= link_to 'до переліку особливостей', admin_features_path %>

    <br/><br/>

<% end %>
